#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#scoresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}